.iconButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  border: 1px solid rgba(227, 232, 237, 1);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 12%);
  text-decoration: none !important;
}
.iconButton:hover {
  border-color: rgb(27, 165, 248);
  color: rgb(27, 165, 248);
}
.iconButton:hover span {
  color: rgb(27, 165, 248);
}
.iconButton > img {
  margin-right: 16px;
}
