name: Publish on Docker Hub and Deploy v1

on:
#   release:
#     types: [published]
  push:
    branches: [ master ]
  # Запуск только при публиковании нового релиза

jobs:
  deploy:
    name: executing remote ssh commands using password
    uses: appleboy/ssh-action@master
    with:
      host: ${{ secrets.WIKI_HOST }}
      username: ${{ secrets.WIKI_USER }}
      password: ${{ secrets.WIKI_PASS }}
      port: 22
      script: whoami

